<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permission Denied</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5 text-center">
        <h1 class="display-4 text-danger">Permission Denied</h1>
        <p class="lead">You do not have permission to edit or delete this blog post.</p>
        <a href="{% url 'blog-list' %}" class="btn btn-primary mt-3">Go Back to Blog List</a>
    </div>
</body>
</html>
